.venv/
.git/
.pytest_cache/
.ruff_cache/
.mypy_cache/
__pycache__/
*.py[cod]

tests/
docs/
htmlcov/
.coverage

*.md
!README.md

.env.*
!.env.local
!.env.example

.dockerignore
.gitignore
docker-compose.yml
